/* Estilos Globais */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

html::-webkit-scrollbar {
  width: 0.5rem;
  height: 0px;
}

html::-webkit-scrollbar-thumb {
  background: var(--global-color-g7);
  border-left: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  border-radius: 0.25rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

body {
  margin: 0px;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}
