/* Variaveis */
:root {
  --global-color-black: #000000;
  --global-color-white: #ffffff;
  --global-color-c1: #1c1c1c;
  --global-color-c2: #2d2d2d;
  --global-color-c3: #464646;
  --global-color-c4: #5b5b5b;
  --global-color-c5: #6f6f6f;
  --global-color-c6: #9b9b9b;
  --global-color-c7: #afafaf;
  --global-color-c8: #c9c9c9;
  --global-color-c9: #dedede;
  --global-color-c10: #f0f0f0;
  --global-color-g1: #b9ead9;
  --global-color-g2: #8ae3c4;
  --global-color-g3: #87dec0;
  --global-color-g4: #80d5b8;
  --global-color-g5: #73c3a8;
  --global-color-g6: #599f87;
  --global-color-g7: #245745;
  --global-space-04: 0.25em;
  --global-space-08: 0.5em;
  --global-space-12: 0.75em;
  --global-space-16: 1em;
  --global-space-20: 1.25em;
  --global-space-24: 1.5em;
  --global-space-32: 2em;
  --global-space-40: 2.5em;
  --global-space-48: 3em;
  --global-space-60: 3.75em;
  --global-space-72: 4.5em;
  --global-space-80: 5em;
  --global-space-100: 6.25em;
  --global-space-200: 12.5em;
  --global-space-300: 18.75em;
  --global-space-400: 20em;
  --font-family: "K2D", sans-serif;
  --font-size-display-1: 4em;
  --line-heigth-display-1: 1.06;
  --font-size-display-2: 3.25em;
  --line-heigth-display-2: 1.07;
  --font-size-heading-1: 2.25em;
  --line-heigth-heading-1: 1.1;
  --font-size-heading-2: 1.75em;
  --line-heigth-heading-2: 1.14;
  --font-size-heading-3: 1.5em;
  --line-heigth-heading-3: 1.16;
  --font-size-body-1: 1em;
  --line-heigth-body-1: 1.5;
  --font-size-body-2: 0.75em;
  --line-heigth-body-2: 1.3;
  --font-size-cta-medium: 1em;
  --font-size-cta-small: 0.75em;
  --font-size-label-1: 1em;
  --font-size-label-2: 0.75em;
  --font-size-small-label: 0.75em;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
