.spiner {
  border: 4px solid;
  border-color: var(--global-color-g6) var(--global-color-white)
    var(--global-color-white) var(--global-color-white);
  border-radius: 100%;
  animation: rotate 3s infinite;
  position: relative;
}

@keyframes rotate {
  to {
    rotate: 0deg;
  }
  from {
    rotate: 360deg;
  }
}
