.homeContainer {
  min-height: 100vh;
  max-height: max-content;
  width: 100%;
  padding: var(--global-space-24);
  background-color: var(--global-color-g1);
}

.homeContent {
  display: grid;
  grid-template-columns: 1fr;
}

.homeTitle {
  text-align: center;
}

.homeSubTitle {
  text-align: center;
  color: var(--global-color-c3);
}

.homeContainerCard {
  display: flex;
  justify-content: center;
  gap: var(--global-space-20);
  margin-top: var(--global-space-32);
}

.homeCard {
  display: flex;
  flex-direction: column;
  gap: var(--global-space-12);
  width: 50%;
  height: max-content;

  padding: var(--global-space-12) var(--global-space-24);
  background-color: var(--global-color-g7);
  justify-content: center;
  align-items: center;
  border-radius: var(--global-space-12);

  text-decoration: none;
  color: var(--global-color-white);
  font-size: 110%;

  transition: background-color 0.3s;
}

.homeCard:hover {
  background-color: var(--global-color-g5);

  color: var(--global-color-c3);
}

.icon {
  height: var(--global-space-32);
  width: var(--global-space-32);
}

.icon path {
  stroke: var(--global-color-white);
}

.homeCard:hover .icon path {
  stroke: var(--global-color-c3);
}

.iconComparison {
  transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homeContent {
    grid-template-areas:
      "backgroundImg backgroundImg"
      "title title"
      "subTitle subTitle"
      "buttonsContent buttonsContent";
    grid-template-rows: repeat(4, max-content);
    gap: var(--global-space-20);
  }

  .homeTitle {
    grid-area: title;
  }

  .homeBackground {
    grid-area: backgroundImg;
    height: 50vh;
    width: 100%;
  }
  .homeSubTitle {
    grid-area: subTitle;
    text-align: center;
    align-self: center;
  }

  .homeContainerCard {
    grid-area: buttonsContent;
  }

  .homeCard {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .homeContent {
    grid-template-areas:
      "title backgroundImg"
      "title backgroundImg"
      "subTitle backgroundImg"
      "buttonsContent backgroundImg";
    grid-template-rows: repeat(4, max-content);
    gap: var(--global-space-20);
  }

  .homeTitle {
    grid-area: title;
    align-self: self-end;
  }

  .homeBackground {
    grid-area: backgroundImg;
    height: 90vh;
    width: 50vw;
  }
  .homeSubTitle {
    grid-area: subTitle;
    text-align: center;
    align-self: center;
  }

  .homeContainerCard {
    grid-area: buttonsContent;
    margin: 0;
  }

  .homeCard {
    width: 100%;
    margin: 0 auto;
    align-self: flex-start;
  }
}
