.searchSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--global-space-20);
  padding: var(--global-space-24);
  background-color: var(--global-color-g6);
}

.searchTitle {
  text-align: center;
}

.searchSubTitle {
  text-align: center;
}

.searchTableTitle {
  font-size: 130%;
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: var(--global-space-24);
}

.searchSelectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchSelectLabel {
  margin-bottom: var(--global-space-04);
  margin-left: var(--global-space-04);
}

.searchFormButton {
  border: none;
  cursor: pointer;
  height: 32px;
  background-color: var(--global-color-g4);
  border-radius: var(--global-space-12);
  color: var(--global-color-c2);
  font-size: 120%;
  transition: background-color 0.3s;
}

.searchFormButton:hover {
  background-color: var(--global-color-g1);
}

table {
  width: 100%;
  margin: 0;
  padding: var(--global-space-12) var(--global-space-24);
  background-color: white;
  font-size: 130%;
  border: 1px solid black;
  border-radius: 12px;
}

tr,
th,
td {
  border-bottom: 1px solid black;
}

.data {
  border-left: 1px solid black;
  text-align: center;
}
